[Desktop Entry]
Name=NiimPrintX
Comment=Create and print labels on Niimbot printers
Keywords=label;card;print;office;barcode;bluetooth;
Exec=niimprintx %f
Icon=io.github.labbots.NiimPrintX
MimeType=application/x-niim;
Terminal=false
Type=Application
Categories=Office;
StartupNotify=true
